.search {
  padding: 10px;
}

.search form {
  display: flex;
  justify-content: center;
}

.search form input[type="text"] {
  outline: none;
  background: none;
  border: none;
  width: 80%;
  height: 60px;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 0px #fff;
  transition: all ease-in-out 200ms;
  color: white;
  padding: 20px;
  font-size: 16px;
}

.search form input[type="text"]:focus {
  background-color: #1d1d1d;
}
