.container {
  position: relative;
  height: 100%;
}

.container .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .button {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 50px;
  width: 200px;
  height: 50px;
  border: none;
  background: white;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity ease-in-out 150ms;
}

.container .button:hover {
  opacity: 1;
}
